# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
minitrace_test
minitrace_test_mt

# MSVC stuff
*.opensdf
*.sdf
Debug
Release
x64
*.suo
*.vs

# Misc
.gitattributes

# Traces
*.json
